/* Fontes da aplicação */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap');


:root {

  /* font-family */
  --font: 'IBM Plex Sans', sans-serif;

  /* font-weight */
  --light: 300;
  --medium: 500;
  --semi-bold: 600;

}



/* Palete de cores da aplicação */
:root {

  /* Cores primárias */
  --cor-principal: #FFE2C3;
  --cor-contraste: #E8D4C6;
  --cor-contraste-dark: #B7BCBF;
  --cor-contraste-light: #FBF2ED;

  /* Cores secundárias */
  --verde: #CDD5C6;
  --laranja-light: #F29F80;
  --laranja-contraste: #F26363;

  /* Cores auxiliares */
  --amarelo: #F3C653;
  --silver: #C0C0C0;
  --platinum: #E0E0E1;
  --white: #FFFFFF;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--platinum);

  --color-hover: var(--amarelo);

  --color-text: var(--cor-principal);

}

*,
*::before,
*::after {
  
}

body {
  font-family: var(--font);
  margin-bottom: 150px;
  background: rgb(251,242,237);
  background: radial-gradient(circle, rgba(251,242,237,1) 50%, rgba(232,212,198,1) 65%, rgba(255,226,195,1) 80%, rgba(242,159,128,1) 90%, rgba(242,99,99,1) 97%);
}

/* ------------------------------- ↓↓↓↓↓ Modificações repetitivas ou globais↓↓↓↓↓ --------------------------------*/
select{
  border-color: var(--laranja-contraste);
  border-radius: 5px;
  width: 18rem;
  height: 2rem;
  font-size:large;

}

button{
  margin-left: 25px;
  font-size: 16px;
  font-weight: 600;
  width: 13rem;
  height: 4rem;
  border-radius: 5px;
  background-color: var(--laranja-light);
  color: var(--white);
  border-color: var(--laranja-contraste);
  cursor: pointer;
  opacity: 1;
}

button:hover {
  opacity: 0.8;
}

input{
  border-color: var(--laranja-contraste);
  border-radius: 5px;
  width: 25rem;
  height: 2rem;
  font-size:large;
  margin-top: 10px;
  margin-left: 2px;
  font-size: x-large;
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.align{
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--cor-principal);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.micro{
  border: 2px solid var(--cor-principal);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sbs{
  padding-top: 20px;
}

.item{
 padding-top: 16px;
}

.select-sb-part{
  width: 6.5rem;
}

.select-clause{
  background-color: var(--cor-contraste-light);
  color: var(--white);
  border-color: var(--cor-contraste-dark);
}

.div-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Estilos para tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Estilos para mobile */
@media only screen and (max-width: 767px) {

  select {
    max-width: 100%; 
    display: block;
    font-size: 18px;
  }

  option {
    font-size: 12px; 
    overflow-x: scroll;
    max-width: 100%;
  }

  input {
    font-size: 21px;
  }

  .filter-download{
    margin: 0;
  }
  .btn-popup{
    margin-left: 0;
  }
  .btn-popup2{
    margin-left: 1rem;
  }
  .check-label{
    padding-left:10%;
  }
  .check-label-adm{
    padding-left: 20%;
    }

}
/* ------------------------------- ↓↓↓↓↓ Fonte Responsiva ↓↓↓↓↓ --------------------------------*/

@media all and (min-width: 100px)  {  body  { font-size: 0.9em;  } }
@media all and (min-width: 300px)  {  body  { font-size: 1em;    } }
@media all and (min-width: 500px)  {  body  { font-size: 1.1em;  } }
@media all and (min-width: 700px)  {  body  { font-size: 1.2em;  } }
@media all and (min-width: 900px)  {  body  { font-size: 1.3em;  } }
@media all and (min-width: 1100px) {  body  { font-size: 1.4em;  } }
@media all and (min-width: 1300px) {  body  { font-size: 1.5em;  } }
@media all and (min-width: 1500px) {  body  { font-size: 1.6em;  } }
@media all and (min-width: 1600px) {  body  { font-size: 1.7em;  } }
@media all and (min-width: 1800px) {  body  { font-size: 1.8em;  } }